<div class="container-fluid">
    <div class="row">
      <div class ="col-md-6 col-xs-12">
        <h1>Feed for {{name}}</h1>
      </div>
      <div class=" col-md-6 col col-xs-12">
        <h1>Greeting</h1>
      </div>
      <ul>
   {{#each favAnimalData}}
    <li>{{this.firstname}}</li>
    <p>{{this.animals}}</p>
   {{/each}}
  </ul>

    </div>
</div>
