<div class="container-fluid">
    <div class="row">
      <div class ="col-md-6 col-md-offset-3 col-xs-12">
        <h1>Hey Hey! Look at them all!</h1>
      </div>
      <div class=" col-md-6 col col-md-offset-3 col-xs-12">
        <h1>You so Popular!</h1>
      </div>
    </div>
</div
