<div class="container-fluid">

  <div class="row">
    <div class ="col-md-6 col-md-offset-3 col-xs-12">
      <h1>Welcome to EDA</h1>
    </div>
    <div class=" col-md-6 col-md-offset-3 col-xs-12">
      <h3>{{title}}</h3>
    </div>
  </div><br><br>

  <div class="row">
    <form class="col-md-6 col-md-offset-3 col-xs-12">
      <div class="form-group">
        <label for="guest_name">Welcome, please Enter your Name!<br><br>
        <input placeholder="name" type="text" name="name" id="guest_name" /><br><br>
        </textarea><br><br>
        <input type="submit" name="commit" value="enter site" />
      </div>
    </form>
  </div>


</div>
