<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel='stylesheet' href='/stylesheets/indexStyle.css' />

<div class="container-fluid">
  <div class="index-textbox">
    <div class="row">
      <div class ="col-md-6 col-md-offset-3 col-xs-12">
        <h1><strong>Welcome to EDA</strong></h1>
      </div>
      <div class=" col-md-6 col-md-offset-3 col-xs-12">
        <h4>Enspiral Database of Animals</h4>
      </div>
    </div><br><br>

    <div class="row">
      <form class="col-md-6 col-md-offset-3 col-xs-12" id="newName" action="/welcome" accept-charset="UTF-8" method="post">
        <div class="form-group">
          <label for="guest_name">Welcome, please Enter your Name!<br><br>
          <input placeholder="name" type="text" name="name" id="guest_name" /><br><br>
          </textarea><br><br>
          <button type="submit" class="btn btn-default" name="commit" value="enter site" />Enter Site</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- <button type="submit" class="btn btn-default">Submit</button> -->
