<div class="container-fluid">
  <div class="row">
    <div class ="col-md-6 col-xs-12">
      <h1>Welcome to EDA</h1>
    </div>
    <div class=" col-md-6 col col-xs-12">
      <h3>Enspirals Database of Animals</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <p>
        <input placeholder="name" type="text" name="name" id="cat_name" /><br><br>
        <input placeholder="image url" type="text" name="image" id="cat_image" /><br><br>
        <textarea placeholder="life story" name="life_story" id="cat_life_story">
        </textarea><br><br>
        <input type="submit" name="commit" value="Create Cat" />
      </p>


</div>
