
  <div class="jumbotron">
      <div class="row">
        <div class ="col-md-6 col-md-offset-3 col-xs-12">
          <h1>OOPS!</h1>
          <h2>EDA compatibility Issues!</h2>
        </div>
        <div class="row">
          <div class=" col-md-6 col col-md-offset-3 col-xs-12">
            <h2>You need to discuss animals over drinks tonight! <i class="fa fa-beer" aria-hidden="true"></i> </h2>
          </div>

          </div>
       </div>
  </div>
