<div class="container-fluid background">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h1>Welcome {{name}}</h1>
    </div>
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h3>How are you today?</h3>
    </div>
  </div>
</div>
