body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFF5C3;
  background-image: url(../images/tree_bark.png);
}



a {
  color: #00B7FF;
}

.background {

  color: #192B33;
  height: 100vh;
}
