body {
  padding: 100px 50px;
  text-align: center;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #FFF5C3;
  background-image: url(../images/tree_bark.png);
  background-position: center;
  color: black;
}

a {
  color: #00B7FF;
}



.jumbotron {
  margin: 0px 25% 0px 25%;
  background-color: #ddd;
  opacity: 0.7;
}
